.button {
  width: 195px;
  height: 57px;
  background: #e56353;
  border: none;
  box-shadow: 0px 4px 60px rgba(206, 81, 66, 0.47);
  border-radius: 40px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
