.wrapper {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: content-box;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

@media (min-width: 780px) {
  .wrapper {
    padding: 36px 20px;
  }
}
